{
  "public": {
    "DEBUG": true,
    "ga": "OPTIONAL",
    "siteapps": "OPTIONAL",
    "tokbox": {
      "apiKey": "OPTIONAL"
    }
  },
  "kadira": {
    "appId": "",
    "appSecret": ""
  },
  "tokbox": {
    "apiKey": "OPTIONAL",
    "apiSecret": "OPTIONAL",
    "location": "127.0.0.1"
  },
  "google": {
    "clientId": "",
    "secret": ""
  },
  "mailgun": {
    "MAIL_URL": ""
  },
  "disqus": {
    "secret": "",
    "public": ""
  }
}
