db.languages.update({}, {$set: {watchers: 0, videos: 0}}, {multi: true});
db.channels.find({}).forEach(function (doc) {
    var language = doc.language;
    db.languages.update({name: language}, {$inc: {videos: 1}});
});
db.channels.update({}, {$set: {watchers: 0}}, {multi: true});
db.awwx_mongo_counter.remove({_id: /.*_watchers$/});
