<template name="language">
    <div class="wrapper" id="content-header-wrapper">
        <header id="content-header" class="wrapper-row common">
            <div class="content-info">
                <h1>Browsing <em class="title-emphasis">languages</em></h1>
            </div>
        </header>
    </div>

    <div class="inner-wrapper">
        <ul class="wrapper-row video-list">
            {{#each liveList}}
                {{> channel_thumb}}
            {{else}}
                {{> no_one}}
            {{/each}}
        </ul>

        <ul class="wrapper-row video-list">
            {{#each pastList}}
                {{> video_thumb}}
            {{else}}
                {{> no_videos}}
            {{/each}}
        </ul>
    </div>

</template>
