<template name="languages">
    <div class="wrapper" id="content-header-wrapper">
        <header id="content-header" class="wrapper-row common">
            <div class="content-info">
                <h1>Browsing languages</h1>
            </div>
        </header>
        <div class="wrapper-row common">
            <ul class="thumbnails">
                {{#each list}}
                    {{> language_thumb}}
                {{/each}}
            </ul>
        </div>
    </div>
</template>

<template name="language_thumb">
    <li class="span4">
        <div class="thumbnail">
            <!-- <img src=""> -->
            <div class="caption">
                <h3>{{name}}</h3>
                <span>{{videos}} videos</span><br/>
                <!-- <span>{{watchers}} watching</span> -->
                <p align="center">
                    <a href="{{getLanguageUrl name}}" class="btn btn-primary btn-block">Search</a>
                </p>
            </div>
        </div>
    </li>
</template>

