<template name="dashboard">
  <div class="row">
    <div class="container-fluid content-header">
      <div class="container">
        <h1 class="oswald text-muted">Start a <em class="text-color">broadcast</em></h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {{#if isBroadcasting}}
      {{#with isBroadcasting}}
      <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">
              &times;
          </button>
          <h4>You are live!</h4>
          <p>
              Spread the link: <a href="{{getCoderChannelURL MeteorUserId}}" id="username">{{ROOT_URL}}{{getCoderChannelURL MeteorUserId}}</a>
          </p>
      </div>
      {{/with}}
      {{/if}}

      <div class="alert alert-danger" style="display: none;">
          <button type="button" class="close" data-dismiss="alert">
              &times;
          </button>
          <h4>Something went wrong!</h4>
          <p></p>
      </div>
      <div id="alert-dialog-success" class="alert alert-success" style="display: none;">
          <button type="button" class="close" data-dismiss="alert">
              &times;
          </button>
          <h4>Alright!</h4>
          <p></p>
      </div>

      <form id="create-channel" class="form-horizontal">
        <fieldset>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-2 control-label" for="URL">
              Hangout on Air link <br/>
              <a href="https://coderstv.uservoice.com/knowledgebase/articles/199921-how-do-i-get-a-google-hangout-on-air-link-" target="_blank">(How can I get that ?)</a>
            </label>  
            <div class="col-md-4">
              <input id="URL" name="URL" type="text" placeholder="Paste here. E.g.: http://youtu.be/rxfCPa8LUwQ" class="form-control input-md" required="">
              <span class="help-block">
                <a href="https://plus.google.com/hangouts/_?hso=0" target="_blank" style="text-decoration:none;">Click here to start a <img src="https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-24x100-normal.png"
                  alt="Hangout on Air"
                  title="Hangout on Air"
                  style="border:0;width:100px;height:24px;"/></a>
              </span>  
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-2 control-label" for="language">Add tags <small class="text-muted">(will be indexed on search)</small></label>  
            <div class="col-md-6">
              <input id="language" name="language" type="text" placeholder="E.g. Python" class="form-control input-md" autocomplete="on" spellcheck="off" required="" data-role="tagsinput">
            </div>
          </div>

          <!-- Textarea -->
          <div class="form-group">
            <label class="col-md-2 control-label" for="video-description">Video Description<br/><small class="text-muted">(supports Github Flavored Markdown)</small></label>
            <div class="col-md-8">                     
              <textarea class="form-control" id="video-description" name="video-description" rows="10">Give full description of your broadcast.
For example, you can paste some code here with markdown tags and it will render pretty on the video page:

```python
def foo():
  return 1
```</textarea>
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-2 control-label" for="start-broadcast"></label>
            <div class="col-md-4">
              {{#if isBroadcasting}}
              <button id="stop-broadcast" name="stop-broadcast" class="btn btn-danger">Stop broadcast</button>
              {{else}}
              <button id="start-broadcast" name="start-broadcast" class="btn btn-color">Start broadcast</button>
              {{/if}}
            </div>
          </div>

        </fieldset>
      </form>
 
    </div>
    <hr />
    <div class="row">
      <h4>Your Past Broadcasts</h4>
      <div class="container">
        <div class="row video-list">
          {{#each pastList}}
            {{> video_thumb withRemoveButton=true}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>
